<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysOrderItemMapper">

    <resultMap type="SysOrderItem" id="SysOrderItemResult">
        <result property="orderItemId" column="order_item_id"/>
        <result property="orderId" column="order_id"/>
        <result property="landlordUserId" column="landlord_user_id"/>
        <result property="userId" column="user_id"/>
        <result property="type" column="type"/>
        <result property="productId" column="product_id"/>
        <result property="num" column="num"/>
        <result property="price" column="price"/>
        <result property="total" column="total"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="SysOrderItemVo" id="SysOrderItemResultVo">
        <result property="orderItemId" column="order_item_id"/>
        <result property="orderId" column="order_id"/>
        <result property="landlordUserId" column="landlord_user_id"/>
        <result property="userId" column="user_id"/>
        <result property="type" column="type"/>
        <result property="name" column="name"/>
        <result property="imageUrl" column="image_url"/>
        <result property="password" column="password"/>
        <result property="productId" column="product_id"/>
        <result property="num" column="num"/>
        <result property="price" column="price"/>
        <result property="cost" column="cost"/>
        <result property="total" column="total"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectSysOrderItemVo">
        select order_item_id, order_id, landlord_user_id, user_id, type, product_id, num, price, total, status, del_flag, create_by, create_time, update_by, update_time from sys_order_item
    </sql>

    <select id="selectSysOrderItemList" parameterType="SysOrderItem" resultMap="SysOrderItemResult">
        <include refid="selectSysOrderItemVo"/>
        <where>
            del_flag = 0
            <if test="orderId != null ">and order_id = #{orderId}</if>
            <if test="landlordUserId != null ">and landlord_user_id = #{landlordUserId}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="type != null ">and type = #{type}</if>
            <if test="productId != null ">and product_id = #{productId}</if>
            <if test="num != null ">and num = #{num}</if>
            <if test="price != null ">and price = #{price}</if>
            <if test="total != null ">and total = #{total}</if>
            <if test="status != null ">and status = #{status}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectSysOrderItemVoList" parameterType="SysOrderItem" resultMap="SysOrderItemResultVo">
        select IFNULL(b.name,c.name) as name,b.image_url,b.password,a.order_item_id, a.order_id, a.landlord_user_id,
        a.user_id, a.type, a.product_id,
        a.num,
        a.price, a.total, a.status, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time
        from sys_order_item a
        left join sys_house b on a.type=1 and a.product_id=b.house_id and b.del_flag=0
        left join sys_service c on a.type=2 and a.product_id=c.service_id and c.del_flag=0
        <where>
            a.del_flag = 0
            <if test="orderId != null ">and a.order_id = #{orderId}</if>
            <if test="landlordUserId != null ">and a.landlord_user_id = #{landlordUserId}</if>
            <if test="userId != null ">and a.user_id = #{userId}</if>
            <if test="type != null ">and a.type = #{type}</if>
            <if test="productId != null ">and a.product_id = #{productId}</if>
            <if test="num != null ">and a.num = #{num}</if>
            <if test="price != null ">and a.price = #{price}</if>
            <if test="total != null ">and a.total = #{total}</if>
            <if test="status != null ">and a.status = #{status}</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectSysOrderItemVoListByVo" parameterType="SysOrderItemVo" resultMap="SysOrderItemResultVo">
        select c.cost as cost,IFNULL(b.name,c.name) as name,b.image_url,b.password,a.order_item_id, a.order_id, a.landlord_user_id,
        a.user_id, a.type, a.product_id,
        a.num,
        a.price, a.total, a.status, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time
        from sys_order_item a
        left join sys_house b on a.type=1 and a.product_id=b.house_id
        left join sys_service c on a.type=2 and a.product_id=c.service_id
        <where>
            a.del_flag = 0
            <if test="orderId != null ">and a.order_id = #{orderId}</if>
            <if test="landlordUserId != null ">and a.landlord_user_id = #{landlordUserId}</if>
            <if test="userId != null ">and a.user_id = #{userId}</if>
            <if test="type != null ">and a.type = #{type}</if>
            <if test="productId != null ">and a.product_id = #{productId}</if>
            <if test="num != null ">and a.num = #{num}</if>
            <if test="price != null ">and a.price = #{price}</if>
            <if test="total != null ">and a.total = #{total}</if>
            <if test="status != null ">and a.status = #{status}</if>
            <if test="statusList != null ">
                and a.status in
                <foreach item="item" collection="statusList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectSysOrderItemByOrderItemId" parameterType="Long" resultMap="SysOrderItemResult">
        <include refid="selectSysOrderItemVo"/>
        where order_item_id = #{orderItemId} and del_flag = 0
    </select>

    <insert id="insertSysOrderItem" parameterType="SysOrderItem" useGeneratedKeys="true" keyProperty="orderItemId">
        insert into sys_order_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="landlordUserId != null">landlord_user_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="type != null">type,</if>
            <if test="productId != null">product_id,</if>
            <if test="num != null">num,</if>
            <if test="price != null">price,</if>
            <if test="total != null">total,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="landlordUserId != null">#{landlordUserId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="type != null">#{type},</if>
            <if test="productId != null">#{productId},</if>
            <if test="num != null">#{num},</if>
            <if test="price != null">#{price},</if>
            <if test="total != null">#{total},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <insert id="batchInsertSysOrderItem" parameterType="java.util.List">
        insert into sys_order_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            order_id,
            landlord_user_id,
            user_id,
            type,
            product_id,
            num,
            price,
            total,
            status,
            create_time
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.orderId},
                #{item.landlordUserId},
                #{item.userId},
                #{item.type},
                #{item.productId},
                #{item.num},
                #{item.price},
                #{item.total},
                #{item.status},
                #{item.createTime}
            </trim>
        </foreach>
    </insert>

    <update id="updateSysOrderItem" parameterType="SysOrderItem">
        update sys_order_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="landlordUserId != null">landlord_user_id = #{landlordUserId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="num != null">num = #{num},</if>
            <if test="price != null">price = #{price},</if>
            <if test="total != null">total = #{total},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where order_item_id = #{orderItemId}
    </update>

    <update id="batchUpdateSysOrderItem" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update sys_order_item
            <trim prefix="SET" suffixOverrides=",">
                <if test="item.orderId != null">order_id = #{item.orderId},</if>
                <if test="item.landlordUserId != null">landlord_user_id = #{item.landlordUserId},</if>
                <if test="item.userId != null">user_id = #{item.userId},</if>
                <if test="item.type != null">type = #{item.type},</if>
                <if test="item.productId != null">product_id = #{item.productId},</if>
                <if test="item.num != null">num = #{item.num},</if>
                <if test="item.price != null">price = #{item.price},</if>
                <if test="item.total != null">total = #{item.total},</if>
                <if test="item.status != null">status = #{item.status},</if>
                <if test="item.delFlag != null">del_flag = #{item.delFlag},</if>
                <if test="item.createBy != null">create_by = #{item.createBy},</if>
                <if test="item.createTime != null">create_time = #{item.createTime},</if>
                <if test="item.updateBy != null">update_by = #{item.updateBy},</if>
                <if test="item.updateTime != null">update_time = #{item.updateTime},</if>
            </trim>
            where order_item_id = #{item.orderItemId}
        </foreach>
    </update>

    <delete id="deleteSysOrderItemByOrderItemId" parameterType="Long">
        update sys_order_item set del_flag = 2 where order_item_id = #{orderItemId}
    </delete>

    <delete id="deleteSysOrderItemByOrderId" parameterType="Long">
        update sys_order_item set del_flag = 2 where order_id = #{orderId}
    </delete>

    <delete id="deleteSysOrderItemByOrderItemIds" parameterType="String">
        update sys_order_item set del_flag = 2 where order_item_id in
        <foreach item="orderItemId" collection="array" open="(" separator="," close=")">
            #{orderItemId}
        </foreach>
    </delete>
</mapper>